{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>KL NEWS</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    
    <!--<title>Dashboard Sidebar Menu</title>--> 
</head>
<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{% static 'images/1.png' %}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">NEWS TODAY</span>
                    <span class="profession">BY KLU</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-news icon' ></i>
                            <span class="text nav-text">ALLNEWS</span>
                        </a>
                    </li>


                    {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url 'logout' %}">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                {% else %}
                    <li class="">
                        <a href="{% url 'login' %}">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Login</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'signup' %}">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Signup</span>
                        </a>
                    </li>
            {% endif %}
            <li class="nav-link">
                <a href="contactus.html">
                    <i class='bx bx-phone icon' ></i>
                    <span class="text nav-text">Contact Us</span>
                </a>
            </li>

                </ul>
            </div>

            <div class="bottom-content">
               <!-- <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>-->

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
                
            </div>
        </div>

    </nav>

    <section class="home">
        {% if user.is_authenticated %}
        <div class="text">WELCOME NEWS TODAY</div>
        {% else %}
        <div class="text">NEWS TODAY</div>
        {%endif%}
        <div class="destinations" id="destinations">
			<div class="container">

							{% for dest in dests %}
                            <div class="projcard-container">	
                                <div class="projcard projcard-blue">
                                  <div class="projcard-innerbox">
                                    <img class="projcard-img" src="{{dest.img.url}}" />
                                    <div class="projcard-textbox">
                                      <div class="projcard-title"><a>&emsp;{{dest.name}}</a></div>
                                      <div class="projcard-bar"></div>
                                      <div class="projcard-description">
                                        <p>&emsp;{{dest.desc}}</p>
                                      </div>
                                      
                                    </div>
                                  </div>
                                </div>
                                
                              </div>
                              {% endfor %}
			</div>
		</div>
    </section>

    <script>
        const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");


toggle.addEventListener("click" , () =>{
    sidebar.classList.toggle("close");
})

searchBtn.addEventListener("click" , () =>{
    sidebar.classList.remove("close");
})

modeSwitch.addEventListener("click" , () =>{
    body.classList.toggle("dark");
    
    if(body.classList.contains("dark")){
        modeText.innerText = "Light mode";
    }else{
        modeText.innerText = "Dark mode";
        
    }
});
    </script>

</body>
</html>
