{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'login.css' %}">
         
    <!--<title>Login & Registration Form</title>-->
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript">
    function myFunction() {
    	  var x = document.getElementById("myInput");
    	  if (x.type === "password") {
    	    x.type = "text";
    	  } else {
    	    x.type = "password";
    	  }
    	}
        function validateform(){  
          var Email=document.ashish.Email.value;
          var password=document.ashish.password.value;  
          var atposition=Email.indexOf("@");  
          var dotposition=Email.lastIndexOf(".");

          if (atposition<1 || dotposition<atposition+2 || dotposition+2>=Email.length){  
              alert("Please enter a valid e-mail address or user name.");  
              return false;
          }else if(password.length<6){  
            alert("Password must be at least 6 characters long.");  
            return false;  
          } 

          }
    </script>
    
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form action="/login.html"  method = "POST" onsubmit="validateform()" >
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" placeholder="Enter your email" name = "uEmail" id="email" required>
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Enter your password" name ="password" id="myInput" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <input type="checkbox" onclick="myFunction()">Show Password

                    <div class="checkbox-text">
                        
                        <a href="#" class="text">Forgot password?</a>
                    </div>

                    <button class="input-field button" type="submit">login</button>
                </form>
                

                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="signup.html" class="text signup-link">Signup now</a>
                    </span>
                </div>
                  <div class="goback">
                    <span class="text"><tr></tr>GO to
                        <a href="index.html" class="text login-link">Home</a>
                    </span>
            </div>
            </div>

                         
        </div>
    </div>

    
</body>
</html>