{% load static %}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
    <link rel="stylesheet" href={% static 'sigup.css' %}>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script type="text/javascript">
    function myFunction() {
    	  var x = document.getElementById("myInput");
    	  if (x.type === "password") {
    	    x.type = "text";
    	  } else {
    	    x.type = "password";
    	  }
    	}
        function validateform(){  
          var Email=document.ashish.Email.value;
          var password=document.ashish.password.value;  
          var atposition=Email.indexOf("@");  
          var dotposition=Email.lastIndexOf(".");

          if (atposition<1 || dotposition<atposition+2 || dotposition+2>=Email.length){  
              alert("Please enter a valid e-mail address or user name.");  
              return false;
          }else if(password.length<6){  
            alert("Password must be at least 6 characters long.");  
            return false;  
          } 

          }
    </script>
  </head>
  <body>
    <div class="wrapper">
      <h2>Registration</h2>
      <form action="/signup.html"  method = "POST" onsubmit="validateform()">
        {% csrf_token %} 
        <div class="input-box">
          <input type="text" placeholder="Enter your username" name="username"required>
        </div>
       
        <div class="input-box">
          <input type="text" placeholder="Enter your email" name="uEmail"required>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Create password" name="password" id="myInput"required>
        </div>
    
        <div class="input-box">
          <input type="password" placeholder="Confirm password"name="uCpass" id="myInput" required>
        </div>
        <input type="checkbox" onclick="myFunction()">Show Password
  
        <input type="submit" >
        <div class="text">
          <h3>Already have an account? <a href="login.html">Login now</a></h3>
          <h3>GO TO <a href="index.html">Home</a></h3>
       
          </div>
      </form>
    </div>
  </body>
</html>
